manifest {
    homePage = 'https://github.com/adigenova/bam2cram'
    description = 'bam to cram conversion'
    mainScript = 'main.nf'
    version = 2.0
}

params{
// we star coding the pipeline
help = null
bams = null
bam_csv = null
fasta= null
fai = null
debug= false
outdir= "results"
}

profiles {
  conda {
	process.conda = "$baseDir/environment.yml"
	conda.createTimeout = "200 min"
  }
  docker {
    docker.enabled = true
    process.container = 'adigenova/bam2cram:v1.0'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMonts = true
    process.container = 'adigenova/bam2cram:v1.0'
    pullTimeout = "200 min"
  }
  kutral{
    singularity.enabled = true
    singularity.autoMonts = true
    process.container = 'adigenova/bam2cram:v1.0'
    pullTimeout = "200 min"
    singularity.runOptions = ' --bind /mnt/beegfs/labs/ '
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    process.executor = 'slurm'		
    process.queue = 'uohhm'		
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
//process requirements for running
withName: bam2cram {
        memory = 10.GB
        cpus = 1
}
withName: stats_bams{
        memory = 10.GB
        cpus = 1
}
withName: stats_crams{
        memory = 10.GB
        cpus = 1
}
withName: check_conversion{
        memory = 10.GB
        cpus = 1
}
}

